* {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#header {
    width: 100%;
    height: 250px;
    position: absolute;
    color: white;
    font-size: 20px;
}

#header img {
    text-align: center;
}

#main {
    position: absolute;
    top: 150px;
}

.header a{
    text-decoration: none;
    color: white;
}
#navbar {
    height: 50px;
    position: relative;
    background-color: #1E64AA;
    text-align: center;
    top: 100px;
}

#navbar li{
    list-style-type: none;
    display: inline;
    text-align: center;
    margin: 5px 10px 5px 10px;
    position: relative;
    top: 15px;
}

@media screen and (max-width: 438px) {
    #main {
        position: absolute;
        top: 190px;
    }
    #navbar {
        height: 90px;
        position: relative;
        background-color: #1E64AA;
        text-align: center;
        top: 100px;
    }
    #navbar li{
        list-style-type: none;
        display: block;
        text-align: center;
        margin: 5px 10px 5px 10px;
        position: relative;
        top: 5px;
    }
}