/*Applying to every element in the page, ensuring it has no margin and padding to start with. This is important so that positioning is correct.*/
* {
    margin: 0;
    padding: 0;
    font-family: "Arial", serif;
}

/*Setting the background of the body to white.*/
body {
    background: #fff;
}

/*Setting hyperlinks to have no text decoration to them - no underline, colour change etc.*/
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f30;
}

a:hover {
    color: #f90;
}

/*A DIV which holds all content. This is so the content can be centered horizontally, with margins left and right as to replicate the style of the original site*/
#mainContainer {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    overflow: hidden;
}

/*--- Header Code ---*/

/*A DIV which holds the header content - logo, banner, navbar.*/
#header {
    width: 100%;
    height: 250px;
    position: absolute;
    color: white;
    font-size: 20px;
}

/*Styling of the logo to correctly position it within the header.*/
#headerLogo {
    position: absolute;
    left: 0px;
    top: 5px;
}

/*A DIV which encapsulates the banner. This is so the banner can correctly scale according to the width of the page.*/
#bannerContainer {
    position: absolute;
    left: 202px;
    top: 5px;
    height: 90px;
    width: calc(100% - 202px);
}

/*Styling of the banner to correctly position it within the header. It scales with it's parent DIV, and is centered both horizontally and vertically. The max-height, max-width 100% attributes ensure that it stays the same height and width.*/
#headerBanner {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    visibility: visible;
    margin: auto;
}

/*Styling applied to the navigation-bar links so that they are white, and have no text-decoration.*/
.header a{
    text-decoration: none;
    color: white;
}

/*--- NavBar Code ---*/

/*A DIV which holds the navigation bar. 
    -The top is set to 100px to allow space for the logo and banner.
    -The background colour is the same colour as the blue in the Essex County Parking logo.
    -The left is set to 43px to allow for the stylish side accents, whose colours coincide with the logo colors.
    -The width uses the "calc" method to ensure that the width of the div doesn't overflow past the width of the #mainContainer div.
*/
#navbar {
    z-index: 1;
    height: 50px;
    position: relative;
    background-color: #1E64AA;
    text-align: center;
    top: 100px;
    left: 43px;
    width: calc(100% - 43px);
}

/*A DIV which is placed on the left, coloured with the same green as the Essex County Parking logo, to replicate the original website style.*/
#navbarAccentGreen {
    z-index: 1;
    height: 50px;
    position: absolute;
    background-color: #54B948;
    top: 100px;
    width: 16px;
    left: 0px;
}

/*A DIV which is placed on the left + 21px, coloured with the same aqua as the Essex County Parking logo, to replicate the original website style.*/
#navbarAccentAqua {
    z-index: 1;
    height: 50px;
    position: absolute;
    background-color: #00ACA1;
    top: 100px;
    width: 17px;
    left: 21px;
}

/*Styling to be applied to the list elements of the navigation bar. This is so the elements have correct spacing(padding), background-colour and positioning*/
#navbar li{
    list-style-type: none;
    display: inline;
    text-align: center;
    /*margin: 5px 20px 5px 10px;*/
    position: relative;
    top: 15px;
    padding: 15px 20px 13px 20px;
    transition: background-color 0.25s;
}

/*Styling to be applied to the list elements of the navigation bar upon mouse hover. The effect is a simple background-colour change which fades.*/
#navbar li:hover {
    background-color: #00ACA1;
    transition: background-color 0.25s;
}

/*--- Side Accents Code ---*/

/*A DIV which holds the side accents, as to replicate the orginal style of the old website.*/
#sideAccents {
    width: 95px;
    height: 100%;
    position: absolute;
    top: 150px;
}

/*A DIV, coloured with the same green as the Essex County Parking logo, which runs the height of the page to the left.*/
#sideAccentGreen {
    z-index: 1;
    height: 100%;
    position: absolute;
    background-color: #54B948;
    width: 16px;
    left: 0px;
}

/*A DIV, coloured with the same aqua as the Essex County Parking logo, which runs the height of the page to the left + 21px.*/
#sideAccentAqua {
    z-index: 1;
    height: 100%;
    position: absolute;
    background-color: #00ACA1;
    width: 17px;
    left: 21px;
}

/*--- Main Code ---*/

/*A DIV which holds the page content. All styling is applied by a separate stylesheet for that page, using the nanoc static-site generator.*/
#main {
    position: absolute;
    top: 150px;
    background-color: aqua;
    left: 43px;
    height: 100%;
}

/*--- Responsiveness Code ---*/

/*Once the width of the page is <721px, the following styling is applied to correctly style certain elements with the new width.
    -The navigation bar is applied a vertical style so all list elements are accessible.
    -Side accents are positioned and sized correctly to follow the new height of the navigation bar.
    -The main DIV has a new top value so that the content stays below the navigation bar.
*/
@media screen and (max-width: 721px) {
    #main {
        position: absolute;
        top: 200px;
    }
    
    #navbar {
        z-index: 1;
        height: 100px;
        position: relative;
        background-color: #1E64AA;
        text-align: center;
        top: 100px;
    }
    
    #navbarAccentGreen {
        z-index: 1;
        height: 100px;
        position: absolute;
        background-color: #54B948;
        top: 100px;
        width: 16px;
        left: 0px;
    }

    #navbarAccentAqua {
        z-index: 1;
        height: 100px;
        position: absolute;
        background-color: #00ACA1;
        top: 100px;
        width: 17px;
        left: 21px;
    }
    
    #navbar li{
        list-style-type: none;
        display: block;
        text-align: center;
        padding: 5.2px 10px 5.2px 10px;
        position: relative;
        top: 0px;
        transition: background-color 0.25s;
    }
}