* {
    margin: 0;
    padding: 0;
    font-family: "Arial", serif;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f30;
}

a:hover {
    color: #f90;
}

#mainContainer {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    overflow: hidden;
}

#header {
    width: 100%;
    height: 250px;
    position: absolute;
    color: white;
    font-size: 20px;
}

#headerLogo {
    text-align: center;
    position: absolute;
    left: 0px;
    top: 5px;
}

#main {
    position: absolute;
    top: 150px;
    background-color: aqua;
}

.header a{
    text-decoration: none;
    color: white;
}

#navbar {
    z-index: 1;
    height: 50px;
    position: relative;
    background-color: #1E64AA;
    text-align: center;
    top: 100px;
    left: 43px;
    width: calc(100% - 43px);
}

#navbarAccentGreen {
    z-index: 1;
    height: 50px;
    position: absolute;
    background-color: #54B948;
    top: 100px;
    width: 16px;
    left: 0px;
}

#navbarAccentAqua {
    z-index: 1;
    height: 50px;
    position: absolute;
    background-color: #00ACA1;
    top: 100px;
    width: 17px;
    left: 21px;
}

#navbar li{
    list-style-type: none;
    display: inline;
    text-align: center;
    margin: 5px 20px 5px 10px;
    position: relative;
    top: 15px;
}

@media screen and (max-width: 681px) {
    #main {
        position: absolute;
        top: 200px;
    }
    
    #navbar {
        height: 100px;
        position: relative;
        background-color: #1E64AA;
        text-align: center;
        top: 100px;
    }
    
    #navbarAccentGreen {
        z-index: 1;
        height: 100px;
        position: absolute;
        background-color: #54B948;
        top: 100px;
        width: 16px;
        left: 0px;
    }

    #navbarAccentAqua {
        z-index: 1;
        height: 100px;
        position: absolute;
        background-color: #00ACA1;
        top: 100px;
        width: 17px;
        left: 21px;
    }
    
    #navbar li{
        list-style-type: none;
        display: block;
        text-align: center;
        margin: 0px 10px 10px 10px;
        position: relative;
        top: 5px;
    }
}