/*Applying to every element in the page, ensuring it has no margin and padding to start with. This is important so that positioning is correct.*/
* {
    margin: 0;
    padding: 0;
    font-family: "Arial", serif;
}

/*Setting the background of the body to white.*/
body {
    background: #fff;
    min-width: 300px;
    height:100%;
}

html {
    height:100%; 
}

/*Setting hyperlinks to have no text decoration to them - no underline, colour change etc.*/
a {
    text-decoration: none;
}

/*A DIV which holds all content. This is so the content can be centered horizontally, with margins left and right as to replicate the style of the original site*/
#wrapper {
    width: 75%;
    margin-left: auto; 
    margin-right: auto; 
}

.wrapper {
    position: relative;
    left: 0; 
    right: 0;
    min-height: 100vh;
    padding-bottom: 65px;
}
/*--- Header Code ---*/

/*A DIV which holds the header content - logo, banner, navbar.*/
#header {
    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
}

/*Styling of the logo to correctly position it within the header.*/
#headerLogo {
    position: absolute;
    left: 0px;
    top: 5px;
}

/*A DIV which encapsulates the banner. This is so the banner can correctly scale according to the width of the page.*/
#bannerContainer {
    position: relative;
    margin-left: 205px;
    top: 8px;
    height: 80px;
    width: -webkit-calc(100% - 212px);
    width: -moz-calc(100% - 212px);
    width: -o-calc(100% - 212px);
    width: calc(100% - 212px);
    background: linear-gradient(lightgreen, green);
    border: 3px solid white;
    box-shadow: 0px 0px 8px -3px black;
}

#bannerTop {    
    margin-top: 19px;
}

#bannerBottom {
    margin-bottom: 19px;
}

.bannerText {
    font-size: 18px;
    color: white;
    margin-right: 80px;
    margin-left: 5px;
}

#parkingLogo {
    float: right;
    position: relative;
    right: 8px;
    top: 8px;
    width: 64px;
    height: 64px;
    background: linear-gradient(lightblue,  mediumblue);
    border-radius: 6px;
    transform: rotate(10deg);
}

#parkingLogo h1 {
    line-height:64px;
    text-align: center;
}

/*Styling of the banner to correctly position it within the header. It scales with it's parent DIV, and is centered both horizontally and vertically. The max-height, max-width 100% attributes ensure that it stays the same height and width.*/
#headerBanner {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    visibility: visible;
    margin: auto;
}

/*Styling applied to the navigation-bar links so that they are white, and have no text-decoration.*/
.header a{
    text-decoration: none;
    color: white;
}

/*--- NavBar Code ---*/

/*A DIV which holds the navigation bar. 
    -The top is set to 100px to allow space for the logo and banner.
    -The background colour is the same colour as the blue in the Essex County Parking logo.
    -The left is set to 43px to allow for the stylish side accents, whose colours coincide with the logo colors.
    -The width uses the "calc" method to ensure that the width of the div doesn't overflow past the width of the #wrapper div.
*/
#navbar {
    height: 50px;
}

.navbar {
    z-index: 1;
    position: relative;
    background-color: #1E64AA;
    text-align: center;
    margin-left: 43px;
    width: auto;
}


/*A DIV which is placed on the left, coloured with the same green as the Essex County Parking logo, to replicate the original website style.*/
#navbarAccentGreen {
    background-color: #54B948;
    width: 16px;
}

/*A DIV which is placed on the left + 21px, coloured with the same aqua as the Essex County Parking logo, to replicate the original website style.*/
#navbarAccentAqua {
    background-color: #00ACA1;
    width: 17px;
    margin-left: 5px;
}

.navbarAccent {
    z-index: 1;
    height: 50px;
    float: left;
}

/*Styling to be applied to the list elements of the navigation bar. This is so the elements have correct spacing(padding), background-colour and positioning*/
#navbar li{
    display: inline;
    top: 15px;
    padding: 15px 20px 13px 20px;
}

.navbar li {
    list-style-type: none;
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
    transition: background-color 0.25s;
}

/*Styling to be applied to the list elements of the navigation bar upon mouse hover. The effect is a simple background-colour change which fades.*/
#navbar li:hover {
    background-color: #00ACA1;
    transition: background-color 0.25s;
}

/*--- Side Accents Code ---*/

/*A DIV which holds the side accents, as to replicate the orginal style of the old website.*/
#sideAccents {
    width: 43px;
    height: -webkit-calc(100% - 150px);
    height: -moz-calc(100% - 150px);
    height: -o-calc(100% - 150px);
    height: calc(100% - 150px);
    position: absolute;
    top: 150px
}

/*A DIV, coloured with the same green as the Essex County Parking logo, which runs the height of the page to the left.*/
#sideAccentGreen {
    z-index: 1;
    background-color: #54B948;
    width: 16px;
    height: 100%;
    position: absolute;
}

/*A DIV, coloured with the same aqua as the Essex County Parking logo, which runs the height of the page to the left + 21px.*/
#sideAccentAqua {
    z-index: 1;
    height: 100%;
    background-color: #00ACA1;
    width: 17px;
    height: 100%;
    position: absolute;
    left: 21px;
}

/*--- Main Code ---*/

#mainContainer {
    margin-left: 43px;
    overflow: hidden;
}

/*--- Footer Code ---*/

#footer {
    position: absolute;
    bottom: 0;
    float: left;
    margin-left: 43px;
    margin-top: 15px;
    width: -webkit-calc(100% - 43px);
    width: -moz-calc(100% - 43px);
    width: -o-calc(100% - 43px);
    width: calc(100% - 43px);
    height: 65px;
    background-color: #1E64AA;
}

#footer p{
    color: white;
    font-size: 16px;
    margin-left: 3px;
    margin-top: 3px;
}

#tandc {
    text-decoration: underline;
    position: absolute;
    right: 3px;
    bottom: 3px;
}

/*--- Home Page Code ---*/

#parkonomyBanner {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 150px;
    background-image: url(parkonomybg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30px;
    box-shadow: 0 4px 10px -2px #000000;
}

#parkonomyBG {
    max-width:100%;
    max-height:100%;
}

#parkonomyLogo {
    position: absolute;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
}

#parkonomyPay {
    width: 199px;
    right: 0;
    left: 110px;
    top: 45px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    font-size: 18px;
}

#parkonomyClick {
    width: 181px;
    right: 0;
    left: 0;
    bottom: 3px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    font-size: 30px;
    text-shadow: -1px -1px 0 #AC2225, 1px -1px 0 #AC2225, -1px 1px 0 #AC2225, 1px 1px 0 #AC2225;
}

#homeLeftList {
    float: left;
    margin-top: 30px;
    font-size: 1.75em;
    margin-left: 30px;
}

#homeCCTV {
    position: relative;
    float: right;
    right: 15px;
    margin-bottom: 15px;
}

#homeSubtitle {
    font-style: italic;
}

#contactSubtitle {
    margin-top: 15px;
}

#contactFormContainer {
    width: 700px;
}

#contactForm {
    position: relative;
    margin-top: 30px;
}

#formCaptcha {
    margin-left: 130px;
    float: left;
}

#formSubmit {
    margin-left: 100px;
    padding: 5px;
    border: 1px solid #1E64AA;
    background-color: #1E64AA;
    color: white;
}

#contactContent p, #contactContent label, #contactContent a {
    color: #1E64AA;
}

#contactEmail p, #contactContent a{
    position: relative;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
}

#contactTimesContainer p {
    position: relative;
    margin-left: 15px;
    font-size: 20px;
}

/*--- Google Maps JavaScript API ---*/
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-top: 5px;
    margin-bottom: 15px;
}

#formName, #formEmail {
    width: 350px;
}

#formMessage {
    width: 550px;
}

.formText {
    width: 12%;
    float: left;
    text-align: right;
    margin-right: 15px;
    margin-top: 5px;
}

.formInput {
    border: 1px solid #1E64AA;
    background-color: #fff;
    height: 25px;
}

textarea.formInput{
    border: 1px solid #1E64AA;
    background-color: #fff;
    resize: none;
    height: 125px;
}

.formContainer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pageContent {
    position: relative;
    text-align: left;
}

.pageTitle {
    font-size: 2.5em;
    color:black;
    font-weight: bold;
    margin-top: 15px;
}

.pageSubtitle {
    font-size: 2em;
    color: black;
    font-weight: normal;
}

/*--- Responsiveness Code ---*/

/*Once the width of the page is <721px, the following styling is applied to correctly style certain elements with the new width.
    -The navigation bar is applied a vertical style so all list elements are accessible.
    -Side accents are positioned and sized correctly to follow the new height of the navigation bar.
    -The main DIV has a new top value so that the content stays below the navigation bar.
*/

@media screen and (max-width: 319px) {
    #bannerContainer {
        display: none;   
    }
}

@media screen and (max-width: 330px) {
    #footer {
        height: 65px;
    }
    #footer p{
        color: white;
        font-size: 11px;
        margin-left: 3px;
    }
    #tandc {
        all: initial;
        color: white;
        font-size: 11px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 339px) {
    .bannerText {
        font-size: 8.24px;
    }
}

@media screen and (max-width: 350px) and (min-width: 340px) {
    .bannerText {
        font-size: 10px;
    }
    #bannerTop {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 360px) {
    #formName, #formEmail {
        width: 150px;
    }
    #formMessage {
        width: 150px;
    }
    #formSubmit {
        width: 150px;
    }
    #contactEmail a {
        font-size: 17px;
    }
}

@media screen and (max-width: 404px) {
    #parkingLogo {
        margin: 1px;
        top: 3px;
        right: 3px;
        width: 32px;
        height: 32px;
    }
    #parkingLogo h1 {
        line-height:32px;
        font-size: 20px;
    }
    #bannerTop {
        margin-right: 0;
        margin-top: 15px;
    }
    #bannerBottom {
        margin-bottom: 0;
        margin-right: 0;
    }
    
    #parkonomyPay {
        top: 3px;
        left: 0px;
    }
}

@media screen and (max-width: 410px) and (min-width: 361px) {
    #formName, #formEmail {
        width: 150px;
    }
    #formMessage {
        width: 200px;
    }
}

@media screen and (max-width: 415px) and (min-width: 331px){
    #footer {
        height: 70px;
    }
    #footer p{
        color: white;
        font-size: 12px;
        margin-left: 3px;
    }
    #tandc {
        all: initial;
        color: white;
        font-size: 12px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 426px) and (min-width: 405px) {
    #bannerTop {    
        margin-top: 0px;
    }
}

@media screen and (max-width: 445px) and (min-width: 351px) {
    .bannerText {
        font-size: 11px;
    }
}

@media screen and (max-width: 461px) and (min-width: 446px) {
    #bannerTop {    
        margin-top: 14px;
    }
    .bannerText {
        font-size: 12px;
    }
}

@media screen and (max-width: 505px) and (min-width: 462px) {
    .bannerText {
        font-size: 14px;
    }
}

@media screen and (max-width: 470px) and (min-width: 411px) {
    #formName, #formEmail {
        width: 150px;
    }
    #formMessage {
        width: 250px;
    }
}

@media screen and (max-width: 545px) and (min-width: 416px){
    #footer {
        height: 85px;
    }
    #footer p{
        color: white;
        font-size: 16px;
        margin-left: 3px;
    }
    #tandc {
        all: initial;
        color: white;
        text-decoration: underline;
    }
}

@media screen and (max-width: 564px) and (min-width: 471px) {
    #formName, #formEmail {
        width: 200px;
    }
    #formMessage {
        width: 300px;
    }
}

@media screen and (max-width: 703px) and (min-width: 462px){
    #bannerTop {
        margin-top: 0px;
    }
    #bannerBottom {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 738px) and (min-width: 704px) {
    #bannerTop {    
        margin-top: 19px;
    }

    #bannerBottom {
        margin-bottom: 19px;
    }
}

@media screen and (max-width: 738px) {
    #wrapper {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    #navbar {
        height: 100px;
    }
    
    .navbarAccent {
        z-index: 1;
        height: 100px;
        float: left;
    }
    
    #navbarAccentGreen {
        background-color: #54B948;
        top: 100px;
        width: 16px;
        left: 0px;
    }

    #navbarAccentAqua {
        background-color: #00ACA1;
        top: 100px;
        width: 17px;
        left: 21px;
    }
    
    #navbar li{
        display: block;
        top: 0px;
        padding: 5.2px 10px 5.2px 10px;
    }
}

@media screen and (max-width: 783px) and (min-width: 546px) {
    #formName, #formEmail {
        width: 300px;
    }
    #formMessage {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    #homeCCTV {
        float: left;
        margin-left: 30px;
    }
}

@media screen and (max-width: 930px) and (min-width: 738px) {
    #bannerTop {
        margin-top: 0px;
    }
    #bannerBottom {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 933px) and (min-width: 784px) {
    #formMessage {
        width: 450px;
    }
}

@media screen and (max-width: 1005px) {
    
}

@media screen and (min-width: 1080px) {
    #bannerContainer {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 75px;
        top: 8px;
        height: 80px;
        width: 480px;
        background: linear-gradient(lightgreen, green);
        border: 3px solid white;
        box-shadow: 0px 0px 8px -3px black;
    }
}