* {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#header {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: #1E64AA;
    text-align: center;
    color: white;
    font-size: 20px;
}

.header a{
    text-decoration: none;
    color: white;
}

#navbar li{
    list-style-type: none;
    display: block;
    text-align: center;
    margin: 5px 10px 5px 10px;
    position: relative;
    top: 5px;
}

@media screen and (min-width: 438px) {
    #navbar li{
        list-style-type: none;
        display: inline;
        text-align: center;
        margin: 5px 10px 5px 10px;
        position: relative;
        top: 15px;
    }
    
    #header {
        width: 100%;
        height: 50px;
        position: absolute;
        background-color: #1E64AA;
        text-align: center;
        color: white;
        font-size: 20px;
    }
}