<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Secured controlled Parking - Essex County Parking" />
        <meta name="keywords" content="Secured,controlled,Parking,Essex,county,Parking" />
        <title>Essex County Parking - <%= @item[:title] %></title>
        <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <div id="mainContainer">
        <div id="header" class="header">
            <img id="headerLogo" src="Logo.png" alt="Logo" width="199" height="90">
            <img id="headerBanner" src="ecp-banner.png" alt="Guarantee your seat before Colchester North!" width="602" height="95">
            <div id="navbarAccentGreen"></div>
            <div id="navbarAccentAqua"></div>
            <div id="navbar">
                <ul>
                    <a href="index.html"><li>Home</li></a>
                    <a href="https://parkonomy.com/en/book/191/colchester/hythe-station-car-park#/?search_string=Essex%20County%20Parking%20Ltd.,%20Hythe%20Station%20Road,%20Colchester,%20United%20Kingdom&range_type=hourly&start_time=2015-12-16T16:00:00&end_time=2015-12-16T17:00:00&consecutive_permits=1&vehicle_type_id=0&overnight_stay=false&sms_confirmation=true&sms_reminder=true&lat=51.885300&lng=0.926981&radius=1.5&extend_booking=false"><li>Prices & Bookings</li></a>
                    <a href="contact-us.php"><li>More Information</li></a>
                </ul>
            </div>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </div>
  </body>
</html>
