<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Secured controlled Parking - Essex County Parking" />
        <meta name="keywords" content="Secured,controlled,Parking,Essex,county,Parking" />
        <title>Essex County Parking - <%= @item[:title] %></title>
        <link rel="stylesheet" href="/stylesheet.css">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
        <div id="header" class="header">
            <img id="headerLogo" src="Logo.png" alt="Logo" width="199" height="90">
            <div id="bannerContainer">
                <div id="parkingLogo"><h1>P</h1></div>
                <p id="bannerTop" class="bannerText">GUARANTEE your seat before Colchester North</p>
                <p id="bannerBottom" class="bannerText">On the SAME train with NO EXTRA fare costs</p>
            </div>
        </div>
        <div id="navbarContainer">
            <div id="navbarAccentGreen" class="navbarAccent"></div>
            <div id="navbarAccentAqua" class="navbarAccent"></div>
            <div id="navbar" class="navbar">
                <ul>
                    <a href="index.html"><li>Home</li></a>
                    <a href="https://parkonomy.com/en/book/191/colchester/hythe-station-car-park#/?search_string=Essex%20County%20Parking%20Ltd.,%20Hythe%20Station%20Road,%20Colchester,%20United%20Kingdom&range_type=hourly&start_time=2015-12-16T16:00:00&end_time=2015-12-16T17:00:00&consecutive_permits=1&vehicle_type_id=0&overnight_stay=false&sms_confirmation=true&sms_reminder=true&lat=51.885300&lng=0.926981&radius=1.5&extend_booking=false"><li>Prices & Bookings</li></a>
                    <a href="contactus.html"><li>More Information</li></a>
                </ul>
            </div>
        </div>
        <div id="sideAccents">
            <div id="sideAccentGreen"></div>
            <div id="sideAccentAqua"></div>
        </div>
        <div id="mainContainer">
            <a href="https://parkonomy.com/en/book/191/colchester/hythe-station-car-park#/?search_string=Essex%20County%20Parking%20Ltd.,%20Hythe%20Station%20Road,%20Colchester,%20United%20Kingdom&range_type=hourly&start_time=2015-12-16T16:00:00&end_time=2015-12-16T17:00:00&consecutive_permits=1&vehicle_type_id=0&overnight_stay=false&sms_confirmation=true&sms_reminder=true&lat=51.885300&lng=0.926981&radius=1.5&extend_booking=false">
                <div id="parkonomyBanner">
                    <div id="parkonomyPay"><span>Pay for your parking with</span></div>
                    <img id="parkonomyLogo" src="parkonomyLogo.png" alt="Pay for your parking with Parkonomy">
                    <div id="parkonomyClick"><span>CLICK HERE</span></div>
                </div>
            </a>
            <div id="main" class="main">
                <%= yield %>
            </div>
        </div>
        <div id="footer">
            <p>Hythe Station Road, Colchester, Essex, CO2 8JZ</p>
            <p>© Essex County Parking Ltd. 2011</p>
            <p>Email us on: info@essexcountyparking.co.uk</p>
            <p><span id="tandc"><a>Terms and Conditions</a></span></p>
        </div>
    </div>
  </body>
</html>
